@import "tailwindcss";

/* Full height */
html, body {
  height: 100%;
}

/* Dark premium base */
body {
  margin: 0;
  background-color: #070A12;
  color: white;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}
